<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <input name="name">
        <textarea name="content"></textarea>
        <button>Add</button>
    </form>

    <div data-th-each="item: ${items}">
        <h4>[[${item.name}]]</h4>
        <p>[[${item.content}]]</p>
    </div>

</body>
</html>